# Model files
/CPLEX/modelFiles/*.txt

# GIS files
/visualization/data/gisData/

# Notes to self
/visualization/data/noteToSelf.txt
/FVS/*.xlsx

# Data to make FVS key file
/FVS/data/

# Installation of FVS
/FVS/install/

# FVS output
/FVS/*.txt
/FVS/output/
/FVS/*.chp
/FVS/*.out
/FVS/*.sum
/FVS/*.trl

# Key files (unmanageably large)
/FVS/*.key

# Excel files used intermediately to craft data files
/CPLEX/data/*.xlsx

# Files from GIS table dump
*.txt.xml
*.ini

# CPLEX output
/CPLEX/output/
/visualization/mapMaking/solutionFiles/

# ipynb checkpoints
*-checkpoint.ipynb