# Model files
/CPLEX/modelFiles/*.txt

# GIS files
/visualization/data/gisData/

# Notes to self
/visualization/data/noteToSelf.txt

# Data to make FVS key file
/FVS/data/

# Installation of FVS
/FVS/FVSInstall/

# FVS output
/FVS/results/