# Model files
/CPLEX/modelFiles/*.txt

# GIS files
/visualization/data/gisData/

# Notes to self
/visualization/data/noteToSelf.txt
/FVS/*.xlsx

# Data to make FVS key file
/FVS/data/

# Installation of FVS
/FVS/install/

# FVS output
/FVS/output/
/FVS/*.chp
/FVS/*.out
/FVS/*.sum
/FVS/*.trl

# Key files (unmanageably large)
/FVS/*.key