html,body {
    height:100%;
}

body-container {
	min-height:100%;
	position:relative;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}

main {
    padding: 10px;
    line-height: 1.5em;
    font-size: 0.9em;
    width: 95%;
    margin: 0 auto;
}

.studyTitle {
    width: 60%;
    text-align: center;
}
/* Scatterplot area styling */
.scatterplot-area-wrap{
    width: 100%;
    display: block;
}
.scatterplot-wrap{
    max-height: 100%;
    border: none;
}
.inactiveScatterPlot{
  display: none !important;
}

.drilldownDiv,
.scatterplotDiv,
#threeDScatterDiv{
    width: 80%;
    display: block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
fieldset{
    border: none;
}

/* End of styling for navigation area */

/* Begin d3 styling */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis .label:hover {
    text-decoration: underline;
}

.selected {
  opacity: 1.0;
}
.active {
  opacity: 0.8;
  fill: green;
  stroke: green;
}
.drilldownDiv path .selected{
  stroke-width: 1.5px;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.drilldownDiv .axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/* End d3 styling */

/* Begin styling for tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/* End styling for tooltip */

/* Drilldown area styling */

.drilldownTextContainer{
  font-size: 1.5em;
  text-align: left;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.activeStand {
  fill: orange !important;
}

/* End styling for drilldown. */